


/* ========================= */
/* Header / Navbar */
/* ========================= */
header[role="banner"] {
  background-color: rgba(26, 49, 41, 1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: rgba(203, 234, 123, 1);
}

.contact-btn {
  background-color: rgba(203, 234, 123, 1);
  color: #000000;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.contact-btn:hover {
  background-color: rgba(203, 234, 123, 0.4);
  transform: scale(1.05);
  cursor: pointer;
}

/* Footer */

footer {
  background-color: rgba(26, 49, 41, 1);
  color: #ffffff;
  padding: 40px 8% 20px;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 160px;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.footer-nav a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: #c8f77c;
}

.footer-bottom {
  padding-top: 20px;
  text-align: center;
}

.footer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  background-color: rgba(35, 67, 56, 1);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.footer-card p {
  margin: 0;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: rgba(35, 67, 56, 1);
  border: 0.1px solid rgba(44, 84, 70, 1);
  color: #ffffff;
  font-size: 14px;
  white-space: nowrap;
}

.footer-card p.copyright {
  font-size: 1rem;
  font-weight: 500;
}